<section class="hero">
    <div class="hero-text">
      <h1>Large payments volume or unique business model?</h1>
      <p>
        Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex.
        Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien.
        Quisque fringilla sit amet dolor commodo efficitur.
      </p>
      <a href="#" class="button">Learn More</a>
    </div>
    <div class="partners-logos">
      <img src="amazon-logo.png" alt="Amazon">
      <img src="binance-logo.png" alt="Binance">
      <img src="evga-logo.png" alt="EVGA">
      <img src="tesla-logo.png" alt="Tesla">
      <img src="sony-logo.png" alt="Sony">
      <img src="crocs-logo.png" alt="Crocs">
      <img src="crolla-logo.png" alt="Crolla">
      <img src="asos-logo.png" alt="Asos">
      <img src="bergners-logo.png" alt="Bergners">
      <img src="unimed-logo.png" alt="Unimed">
      <img src="medium-logo.png" alt="Medium">
      <img src="android-logo.png" alt="Android">
    </div>
  </section>
  